Repository web-mighty-io/web-mighty: changes, and which Codecov flags are due for each by the changed paths.
All: client, config, mighty, server, types

:recycle: format
  server/src/service/get/mod.rs
Due: server

made calculate winner test
  mighty/src/state.rs
  server/src/db/game.rs
Due: mighty, server

:art: fixing
  client/src/ws/main.rs
  server/src/actor/hub.rs
  server/src/actor/main.rs
  server/src/actor/user.rs
  server/src/db/user.rs
  server/src/service/delete.rs
  server/src/service/get/mod.rs
  server/src/service/get/pages.rs
  server/src/service/mod.rs
  server/src/service/post/credentials.rs
  server/src/service/post/game.rs
  server/src/service/post/mod.rs
  types/src/lib.rs
Due: client, server, types

🔍 removed version in apt-get install
  Dockerfile
Due: none

🚨 fixed assert warnings
  mighty/src/card.rs
Due: mighty

🥅 fixed errors
  client/src/ws/session.rs
  config/src/lib.rs
  mighty/src/state.rs
  server/Cargo.toml
  server/src/actor/mail.rs
  server/src/actor/user.rs
  server/src/db/user.rs
  types/src/lib.rs
Due: client, config, mighty, server, types

🥅 fixed dockerfile error
  Dockerfile
Due: none

🥅 fixed dockerfile
  Dockerfile
Due: none

⬆️ upgrading to actix-web@4
  server/Cargo.toml
  server/src/middlewares/https.rs
  server/src/service/get/mod.rs
  server/src/service/get/ws.rs
  server/src/service/mod.rs
  types/Cargo.toml
Due: server

⬆️ upgraded actix-identity
  server/Cargo.toml
  server/src/actor/session.rs
  server/src/middlewares/https.rs
  server/src/service/post.rs
Due: server

♻️ formatted code
  server/src/middlewares/https.rs
Due: server

Path conditions:
  client: any of: client/src
  config: any of: config/src
  mighty: any of: mighty/src
  server: any of: server/src
  types: any of: types/src
