Repository web-mighty-io/web-mighty: changes, and which Codecov flags are due for each by the changed paths.
All: client, config, mighty, server, types

:memo: fixed wrong documents
  README.md
  webpack.config.js
Due: none

:bug: fixed js
  public/js/index.js
  public/js/modules/websocket.js
Due: none

:rotating_light: fixed js warning
  public/js/modules/websocket.js
Due: none

made db function related to room
  server/src/db/game.rs
  server/src/db/sql/create_room.sql
  server/src/db/user.rs
Due: server

:rotating_light: fixed js
  public/js/index.js
  public/js/modules/websocket.js
  public/res/scss/style.scss
  webpack.config.js
Due: none

:white_check_mark: add test
  f
  mighty/src/state.rs
Due: mighty

:card_file_box: added login/register feature
  server.sample.toml
  server/src/actor/mail.rs
  server/src/app_state.rs
  server/src/config.rs
  server/src/db/sql/create_room.sql
  server/src/db/sql/create_user.sql
  server/src/db/user.rs
  server/src/lib.rs
  server/src/service/get/mod.rs
  server/src/service/post.rs
Due: server

:rotating_light: fixed errors
  server/src/db/user.rs
  server/src/service/get/mod.rs
  server/src/service/post.rs
Due: server

:card_file_box: added login/register module for js
  package.json
  public/js/modules/user.js
  server/src/db/user.rs
  server/src/service/delete.rs
  server/src/service/get/mod.rs
  server/src/service/mod.rs
  server/src/service/post.rs
Due: server

:memo: added documents
  public/js/modules/user.js
Due: none

:rotating_light: fixed js warnings
  public/js/modules/user.js
Due: none

:art: improved login/register
  public/index.hbs
  public/js/index.js
  public/js/modules/user.js
  server/src/db/user.rs
  types/src/lib.rs
Due: server, types

:rotating_light: fixed js warning
  public/js/modules/user.js
Due: none

:truck: removed bulma
  .gitignore
  package.json
  public/index.hbs
  public/js/index.js
  public/src/js/index.js
  public/src/js/modules/user.js
  public/src/js/modules/websocket.js
  public/src/scss/index.scss
  public/src/scss/modules/common.scss
  webpack.config.js
Due: none

:construction_worker: fixed ci
  .github/workflows/build.yml
  .github/workflows/clippy.yml
  .github/workflows/public.yml
  .github/workflows/test.yml
  Dockerfile
  minify_files.py
  requirements.txt
Due: none

:construction_worker: fixed ci
  .github/workflows/public.yml
Due: none

:rotating_light: fixed compiler lint
  mighty/src/rule/mod.rs
  mighty/src/state.rs
Due: mighty

:memo: fixed documentation
  README.md
Due: none

changed sql query
  server/src/actor/hub.rs
  server/src/actor/room.rs
  server/src/actor/user.rs
  server/src/db/game.rs
  server/src/db/sql/create_room.sql
Due: server

Update create_room.sql
  server/src/db/sql/create_room.sql
Due: server

:bento: added wasm fallback
  .gitignore
  public/src/js/index.js
  public/src/js/modules/wasm.js
  server/src/app_state.rs
Due: server

:white_check_mark: card test update
  mighty/src/state.rs
Due: mighty

:card_file_box: added user id & email validation
  public/src/js/404.js
  public/src/js/game.js
  public/src/js/index.js
  public/src/js/main.js
  public/src/js/modules/user.js
  public/src/js/modules/wasm.js
  public/src/scss/404.scss
  public/src/scss/game.scss
  public/src/scss/main.scss
  server/src/actor/hub.rs
  server/src/actor/room.rs
  server/src/actor/user.rs
  server/src/db/game.rs
  server/src/db/user.rs
  server/src/service/delete.rs
  server/src/service/get/mod.rs
  server/src/service/post.rs
Due: server

:wrench: fixed dockerfile
  Dockerfile
Due: none

:bug: fix bug
  mighty/src/state.rs
Due: mighty

:fire: delete f
  f
Due: none

made chat
  client/src/ws/observe.rs
  client/src/ws/room_user.rs
  server/src/actor/observe.rs
  server/src/actor/room.rs
  server/src/actor/user.rs
  server/src/db/game.rs
  server/src/service/get/ws.rs
  types/src/lib.rs
Due: client, server, types

:lipstick: added front page
  public/index.hbs
  public/src/js/index.js
  public/src/scss/index.scss
  public/src/scss/modules/box.scss
  public/src/scss/modules/button.scss
  public/src/scss/modules/color.scss
  public/src/scss/modules/common.scss
  public/src/scss/modules/font.scss
Due: none

:rotating_light: fixed warnings
  public/src/js/index.js
  public/src/scss/index.scss
  public/src/scss/modules/color.scss
Due: none

:rotating_light: fixed warning
  public/src/scss/index.scss
Due: none

:lipstick: made login page
  package.json
  public/index.hbs
  public/login.hbs
  public/src/js/login.js
  public/src/js/modules/hash.js
  public/src/js/modules/user.js
  public/src/scss/login.scss
  public/src/scss/modules/button.scss
  server/src/db/user.rs
  webpack.config.js
Due: server

:rotating_light: fixed warnings
  public/src/js/login.js
  public/src/scss/login.scss
  server/src/db/sql/drop.sql
Due: server

:white_check_mark: some tests update
  mighty/src/state.rs
Due: mighty

:ambulance: fmt
  mighty/src/state.rs
Due: mighty

:bug: joker_call 3->2
  mighty/src/rule/joker_call.rs
  mighty/src/rule/mod.rs
  mighty/src/state.rs
Due: mighty

:art: clippy
  mighty/src/state.rs
Due: mighty

:bug: bug fix
  mighty/src/state.rs
Due: mighty

Path conditions:
  client: any of: client/src
  config: any of: config/src
  mighty: any of: mighty/src
  server: any of: server/src
  types: any of: types/src
