Repository web-mighty-io/web-mighty: changes, and which Codecov flags are due for each by the changed paths.
All: client, config, mighty, server, types

:rotating_light: fixed compile error for temporarily
  server/Cargo.toml
Due: none

changed comparing system on state.rs
  mighty/src/state.rs
Due: mighty

fixed warnings
  mighty/src/state.rs
Due: mighty

merging
  mighty/src/state.rs
Due: mighty

:lipstick: added register
  public/404.hbs
  public/game.hbs
  public/index.hbs
  public/mail.hbs
  public/main.hbs
  public/pre-register.hbs
  public/register.hbs
  public/rooms.hbs
  public/settings.hbs
  public/src/js/index.js
  public/src/js/login.js
  public/src/js/modules/user.js
  public/src/js/pre-register.js
  public/src/js/register.js
  public/src/scss/index.scss
  public/src/scss/pre-register.scss
  public/src/scss/register.scss
  rustfmt.toml
  server/Cargo.toml
  server/src/actor/mail.rs
  server/src/app_state.rs
  server/src/config.rs
  server/src/db/user.rs
  server/src/lib.rs
  server/src/service/get/mod.rs
  server/src/service/mod.rs
  server/src/service/post.rs
Due: server

:rotating_light: fixed js warnings
  public/src/js/modules/user.js
  public/src/js/register.js
Due: none

:rotating_light: fixed js warnings
  public/src/js/register.js
Due: none

:zap: changed host
  public/src/js/register.js
  server/src/config.rs
Due: server

compelete calculate_winner
  mighty/src/card.rs
  mighty/src/state.rs
Due: mighty

:heavy_plus_sign: try_from
  mighty/Cargo.toml
Due: none

:bug: fix
  mighty/src/state.rs
Due: mighty

:art: i hate
  mighty/Cargo.toml
  mighty/src/state.rs
Due: mighty

bug:: http cookie bug fix
  server/src/lib.rs
Due: server

:art: changed to iter
  mighty/src/rule/mod.rs
  mighty/src/state.rs
Due: mighty

created main page and fixed some bugs
  public/main.hbs
  public/src/js/main.js
  public/src/js/register.js
  public/src/scss/main.scss
  public/src/scss/modules/button.scss
  public/src/scss/modules/font.scss
Due: none

:bug: fixed error when smtp on docker image
  Dockerfile
  README.md
Due: none

:arrow_up: upgrade node
  Dockerfile
Due: none

:bug: fixed small bugs
  public/src/js/modules/user.js
  public/src/js/pre-register.js
  public/src/js/register.js
  server/src/db/user.rs
  server/src/lib.rs
Due: server

:arrow_up: removed temporary code
  server/Cargo.toml
Due: none

:children_crossing: blocking button when pressed
  public/src/js/login.js
  public/src/js/pre-register.js
  public/src/js/register.js
Due: none

:art: improved structure
  mighty/src/state.rs
Due: mighty

made simple get list
  client/src/ws/list.rs
  mighty/src/state.rs
  server/src/actor/list.rs
  server/src/db/game.rs
  server/src/service/get/ws.rs
  types/src/lib.rs
Due: client, mighty, server, types

:rotating_light: fixed warnings
  mighty/src/state.rs
Due: mighty

merging
  mighty/src/card.rs
  mighty/src/rule/deck.rs
  mighty/src/state.rs
Due: mighty

fixed warnings2
  mighty/src/rule/mod.rs
  mighty/src/state.rs
Due: mighty

:art: card number range change
  mighty/src/card.rs
  mighty/src/rule/joker_call.rs
  mighty/src/rule/mod.rs
Due: mighty

:art: improved deck
  mighty/src/rule/deck.rs
  mighty/src/rule/mod.rs
  mighty/src/state.rs
Due: mighty

:rotating_light: format
  mighty/src/rule/deck.rs
Due: mighty

minor changes to server and client
  public/list.hbs
  public/main.hbs
  public/src/js/main.js
  public/src/scss/main.scss
  public/src/scss/modules/color.scss
  server/src/service/get/mod.rs
  server/src/service/mod.rs
Due: server

:art: Added `/list` (client side)
  public/list.hbs
  public/src/js/list.js
  public/src/scss/list.scss
Due: none

:art: improved structure
  mighty/src/card.rs
  mighty/src/state.rs
Due: mighty

:rotating_light: fixed compiler warnings
  mighty/src/state.rs
Due: mighty

:ambulance: fixed card
  mighty/src/state.rs
Due: mighty

:recycle: changed variable names
  mighty/src/state.rs
Due: mighty

:rotating_light: fixed js warnings
  public/src/js/modules/wasm.js
  public/src/js/modules/websocket.js
Due: none

:lipstick: added pre-register-complete page
  public/pre-register-complete.hbs
  public/src/js/modules/user.js
  public/src/js/pre-register-complete.js
  public/src/scss/pre-register-complete.scss
  server/src/service/get/mod.rs
  server/src/service/mod.rs
Due: server

:bug: fixed bug
  mighty/src/state.rs
Due: mighty

:green_heart: Fixing Codacy Static Code Analysis
  public/src/scss/list.scss
  public/src/scss/main.scss
Due: none

:lipstick: added register-complete
  public/register-complete.hbs
  public/src/js/register-complete.js
  public/src/scss/register-complete.scss
  server/src/service/get/mod.rs
  server/src/service/mod.rs
Due: server

:bug: fixed tag
  client/src/ws/list.rs
Due: client

Path conditions:
  client: any of: client/src
  config: any of: config/src
  mighty: any of: mighty/src
  server: any of: server/src
  types: any of: types/src
